<%- include("../partials/header") %>

<body>
  <h1>Dev Skills</h1>
  <h2><%= devskill.devskill %></h2>
  <p>Complete: <%= devskill.done ? 'Yes' : 'No' %></p>

  <a href="<%= devskill.doclink %>">Learn More</a>
</body>
