<%- include("../partials/header") %>

<body>
  <h1>Dev Skills</h1>

  <h2><%= devskill.devskill %></h2>
  <p>Complete: <%= devskill.done ? 'Yes' : 'No' %></p>

  <a href="<%= devskill.doclink %>">Learn More</a>

  <form method="POST" action="/dev-skills?_method=DELETE" autocomplete="off">
    <button type="submit">Delete Skill</button>
  </form>
</body>
