<%- include("../partials/header") %>

  <body>
    <h1>Dev Skills</h1>
    <ul>
      <% devskills.forEach(function(skill) { %>
        <li><a href="/dev-skills/<%= skill.id %>"><%= skill.devskill %></a></li>
        <% }); %>
    </ul>
  </body>
